poupavet_full/poupavet-system/n8n-workflow-poupavet.json
{
  "name": "PoupaVet - Atendimento Inteligente",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-poupavet",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-entrada",
      "name": "Webhook - Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "poupavet-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id_conversa",
              "name": "id_conversa",
              "value": "={{ $json.phone || $json.from || 'web_' + Date.now() }}",
              "type": "string"
            },
            {
              "id": "mensagem",
              "name": "mensagem",
              "value": "={{ $json.text || $json.message || $json.mensagem }}",
              "type": "string"
            },
            {
              "id": "inicio_execucao",
              "name": "inicio_execucao",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "canal",
              "name": "canal",
              "value": "={{ $json.canal || $json.channel || 'whatsapp' }}",
              "type": "string"
            },
            {
              "id": "tentativas",
              "name": "tentativas",
              "value": "=0",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "preprocessamento",
      "name": "Pré-processamento",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5002/api/assistant/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mensagem",
              "value": "={{ $json.mensagem }}"
            },
            {
              "name": "phone_number",
              "value": "={{ $json.id_conversa }}"
            },
            {
              "name": "contexto",
              "value": "={{ { canal: $json.canal, timestamp: $json.inicio_execucao } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "chamada-assistente",
      "name": "Chamada Assistente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "agendamento",
              "leftValue": "={{ $json.intencao }}",
              "rightValue": "agendamento",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "emergencia",
              "leftValue": "={{ $json.intencao }}",
              "rightValue": "emergencia",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "decisao-intencao",
      "name": "Decisão - Intenção",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5002/api/google/calendar/create-appointment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "calendar_id",
              "value": "primary"
            },
            {
              "name": "title",
              "value": "={{ 'Consulta - ' + $json.tutor + ' (' + $json.pet + ')' }}"
            },
            {
              "name": "description",
              "value": "={{ 'Agendamento via assistente virtual\\nTutor: ' + $json.tutor + '\\nPet: ' + $json.pet + '\\nEspécie: ' + $json.especie + '\\nServiço: ' + $json.servico }}"
            },
            {
              "name": "start_time",
              "value": "={{ $json.data + 'T' + $json.hora + ':00' }}"
            },
            {
              "name": "end_time",
              "value": "={{ $json.data + 'T' + (parseInt($json.hora.split(':')[0]) + 1).toString().padStart(2, '0') + ':' + $json.hora.split(':')[1] + ':00' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "criar-agendamento",
      "name": "Criar Agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:5002/api/pricing/register-interaction",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "poupavet_clinic"
            },
            {
              "name": "interaction_type",
              "value": "={{ $json.intencao || 'chat' }}"
            },
            {
              "name": "channel",
              "value": "={{ $json.canal }}"
            },
            {
              "name": "metadata",
              "value": "={{ { phone: $json.id_conversa, message_length: $json.mensagem.length } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "registrar-custo",
      "name": "Registrar Custo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "whatsapp",
              "leftValue": "={{ $json.canal }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "decisao-canal",
      "name": "Decisão - Canal",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "url": "https://api.z-api.io/instances/YOUR_INSTANCE/token/YOUR_TOKEN/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.id_conversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message || $json.resposta }}"
            }
          ]
        },
        "options": {}
      },
      "id": "envio-whatsapp",
      "name": "Envio WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:3000/api/typebot/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $json.id_conversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message || $json.resposta }}"
            }
          ]
        },
        "options": {}
      },
      "id": "envio-web",
      "name": "Envio Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Mensagem processada com sucesso', timestamp: new Date().toISOString() } }}",
        "options": {}
      },
      "id": "resposta-webhook",
      "name": "Resposta Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5002/api/supabase/urgencia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone_number",
              "value": "={{ $json.id_conversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.mensagem }}"
            },
            {
              "name": "urgency_level",
              "value": "alta"
            }
          ]
        },
        "options": {}
      },
      "id": "registrar-emergencia",
      "name": "Registrar Emergência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook - Entrada": {
      "main": [
        [
          {
            "node": "Pré-processamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pré-processamento": {
      "main": [
        [
          {
            "node": "Chamada Assistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamada Assistente": {
      "main": [
        [
          {
            "node": "Decisão - Intenção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão - Intenção": {
      "main": [
        [
          {
            "node": "Criar Agendamento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Registrar Emergência",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Custo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Agendamento": {
      "main": [
        [
          {
            "node": "Registrar Custo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Emergência": {
      "main": [
        [
          {
            "node": "Registrar Custo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Custo": {
      "main": [
        [
          {
            "node": "Decisão - Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decisão - Canal": {
      "main": [
        [
          {
            "node": "Envio WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envio Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio WhatsApp": {
      "main": [
        [
          {
            "node": "Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envio Web": {
      "main": [
        [
          {
            "node": "Resposta Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-17T11:40:00.000Z",
  "versionId": "1"
}

